[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = {extras = ["speedups"], version = "~=3.6.3"}
aiofiles = "~=0.6.0"
humanize = "~=3.2.0"
coloredlogs = "~=15.0"
python-magic-win64 = "~=0.4.13"
selenium = "~=3.141.0"
"discord.py" = ">=1.7.3"
Pillow = "~=8.2.0"
youtube-dl = "*"
dblpy = "*"
lottie = "*"
numpy = "*"
emoji = "*"
regex = "*"
isort = {extras = ["pipfile_deprecated_finder", "requirements_deprecated_finder"], version = "*"}
pronouncing = "*"
"discordlists.py" = "*"
aiosqlite = "*"
asyncpg = "*"
glaxnimate = "*"

[dev-packages]

[requires]
python_version = "3.8"
